.App {
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 20px;
}

.form-input {
  width: 100%;
  box-sizing: border-box;
}

.form-element {
  position: relative;
  padding-bottom: 20px;
}

.form-error-message {
  position: absolute;
  bottom: 0;
}
